*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  background: #eee;
  font-family: sans-serif;
  background: #fff;
  padding: 70px;
  align-content: center;
  justify-content: center;
  display: flex;
}

.card {
  width: 400px;
  background: #fff;
  border: 1px solid black;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  border: 1px solid black;
  margin: 8px;
  padding: 16px 24px;
}

.content {
  background: #e3f4ff;
  font-size: 16px;
  border: 1px solid black;
  margin: 8px;
  padding: 16px 24px;
}

.button-container {
  background: #e3f4ff;
  font-size: 16px;
  border: 1px solid black;
  margin: 8px;
  padding: 16px 24px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

button {
  background: white;
  border: 1px solid #eee;
  font-size: 16px;
  border: 1px solid black;
  display: block;
  padding: 2px;
}