.img{
    max-height: 60vh;
    width: auto;
}

& .title, .original-title{
    display: flex;
    justify-content: center;
}

.original-title{
    font-size: 1rem;
}

h3{
    font-size: 1rem;
    font-weight: 300;
}